nav {
    width: 200px;
    height: 100vh;
    background-color: var(--background-color-2);
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    z-index: 888;
    transition: .3s;

    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #dadada;
    }

    h1 {
        font-size: 18px;
        padding: 1em 1em 0;
    }

    div {
        display: flex;
        flex-direction: column;
        padding: 1em;
        gap: .4em;

        .names {
            padding: .1em .4em;
            border-radius: .3em;

            &:hover {
                background-color: #dadada;
            }
        }
    }

    @media (max-width: 768px) {
        transform: translateX(-100%);
    }
}

nav[data-toggle='true'] {
    transform: translateX(0);
}


.openNavbar {
    position: fixed;
    bottom: 1em;
    left: 1em;
    transition: .3s;
    z-index: 999;

    @media (min-width: 768px) {
        display: none;
    }
}