.dark {
    --background-color: #212121;
    --background-color-2: #292929;
    --text-color: white;

    nav {

        .button2 {

            .names:hover {
                background-color: #353535;
            }
        }
    }

    header {

        .headerSVG {

            #circle-1, #circle-2, #circle-3 {
                fill: rgb(45, 45, 45);
            }

            #item-1, #item-2, #item-3 {
                fill: rgb(38, 38, 38);
                stroke: rgb(97, 97, 97);
            }
        }
    }

    .eachGoal {

        .completed {
            background-color: rgb(9, 90, 0);
            box-shadow: 0 0 10px rgba(0, 128, 0, 0.388);
        }
    }

    .user {

        .socialMedia {

            a {
                color: white;
            }
        }
    }
}