.contributor {
    margin-top: 4em;
    padding: 1em;

    @media (min-width: 1500px) {
        max-width: 1500px;
    }

    a {
        
        img {
            width: 100%;
            margin-top: 1em;
            max-width: 700px;
        }
    }
}