header {
    width: 100%;
    padding: 5em 1em 0em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    overflow: hidden;
    color: var(--text-color);

    @media (min-width: 1500px) {
        max-width: 1500px;
    }

    .homeText {
        
        h1 {
            font-size: 52px;
            font-weight: bolder;
            opacity: 0;
            transform: translateX(-100px);
        }

        p {
            margin-bottom: 1em;
            opacity: 0;
            transform: translateX(-100px);

            a {
                color: var(--primary-color);
                font-weight: 500;
                text-decoration: 1px underline var(--primary-color);
            }
        }

        .button {
            opacity: 0;
            transform: translateX(-100px);
        }

        @media (max-width: 992px) {
            h1 {
                font-size: 32px;
            }

            p {
                font-size: 14px;
            }
        }

        @media (max-width: 576px) {
            h1 {
                font-size: 24px;
            }

            p {
                font-size: 13px;
            }

            .button {
                font-size: 12px;
            }
        }
    }

    .headerSVG {
        opacity: 0;
        transform: scale(1.2);
    }

    @media (max-width: 768px) {
        height: auto;
        grid-template-columns: 1fr;
        margin-top: 80px;
        padding: 1em;
    }
}