.intro {
    text-align: center;
    height: 90vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);

    h1 {
        color: var(--primary-color);
        font-size: 5em;
        font-weight: 900;
        opacity: 0;
        transform: translateX(-80px);
    }

    p {
        padding: 1em 10em;
        opacity: 0;
        transform: translateX(-80px);
    }

    a {
        opacity: 0;
        transform: translateX(-80px);
        
    }

    @media (max-width: 1129px) {
        h1 {
            font-size: 48px;
        }
    }

    @media (max-width: 992px) {
        h1 {
            font-size: 32px;
        }
        p {
            padding: 1em;
        }
    }

    @media (max-width: 576px) {
        h1 {
            font-size: 24px;
        }
        p {
            padding: 1em;
            font-size: 12px;
        }
    }
}