@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');


:root {
    --primary-color: #2840B6;
    --secondary-color: #167EC9;

    --background-color: white;
    --background-color-2: #f2f2f2;

    --text-color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color .2s, color .2s;
}

// #root {
//     display: flex;
// }

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;

    .raleway {
        font-family: 'Raleway', sans-serif;
    }

    a {
        text-decoration: none;
        color: black;
    }

    .button {
        background-color: var(--primary-color);

        &:hover {
            background-color: var(--secondary-color);
        }
    }
}