@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

body {
  @apply relative min-h-full pb-24 md:pb-12 bg-background text-white dark:bg-white dark:text-black;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

#userImage::after {
  content: "";
  width: 100%;
  height: 100%;
  border: 2px dashed #0099ff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(1.2);
  animation: userImage 5s infinite linear;
  transition: 0.3s;
}

@keyframes userImage {
  from {
    transform: rotate(0deg) scale(1.2);
  }
  to {
    transform: rotate(360deg) scale(1.2);
  }
}

#userImage:hover::after {
  transform: scale(1.3);
  animation: none;
  border-color: #005c99;
}

.toggler-wrapper {
  display: block;
  width: 40px;
  height: 20px;
  cursor: pointer;
  position: relative;
}

.toggler-wrapper input[type="checkbox"] {
  display: none;
}

.toggler-wrapper input[type="checkbox"]:checked + .toggler-slider {
  background-color: #44cc66;
}

.toggler-wrapper .toggler-slider {
  background-color: #ccc;
  position: absolute;
  border-radius: 100px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.toggler-wrapper .toggler-knob {
  position: absolute;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.toggler-wrapper.style-12
  input[type="checkbox"]:checked
  + .toggler-slider
  .toggler-knob {
  left: calc(100% - 14px - 3px);
  background-image: url(../img/lock-fill.svg);
}

.toggler-wrapper.style-12 .toggler-knob {
  width: calc(20px - 6px);
  height: calc(20px - 6px);
  border-radius: 50%;
  left: 3px;
  top: 3px;
  background-color: #fff;
  background-image: url(../img/lock-unlock-fill.svg);
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: center;
}

#scrollBar::-webkit-scrollbar {
  width: 5px;
}
#scrollBar::-webkit-scrollbar-thumb {
  @apply bg-white bg-opacity-50 dark:bg-[#bebebe] rounded-full;
}

.num {
  position: relative;
  width: 36px;
  height: 36px;
  border: 2px solid #0099ff;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.2em;
}

.num::after {
  content: "";
  width: 36px;
  height: 36px;
  position: absolute;
  transform: scale(1.2);
  border: 1px solid #0099ff;
  border-radius: 50%;
  animation: border 2s infinite alternate;
}

.num::before {
  content: "";
  width: 36px;
  height: 36px;
  position: absolute;
  transform: scale(1.4);
  border: 1px solid #0099ff;
  border-radius: 50%;
  animation: border 2s infinite alternate 0.5s;
}
@keyframes border {
  from {
    border-color: #0099ff;
  }
  to {
    border-color: transparent;
  }
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}
