.background {
    width: 100%;
    max-width: 800px;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.063);
    -webkit-clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
    clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);

    position: absolute;
    bottom: -50%;
    right: 0;
}